<!DOCTYPE html>
<html lang='en' ng-app='zoo'>
    <head>
        <meta charset='utf-8'>
        <title>Zoo</title>

        <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'>
    </head>
    <body>
        <main>
            <header ng-controller='WelcomeController as welcome'>
                <img ng-src='{{welcome.getDailyLogo()}}' alt='Logo'>
                <h1>{{welcome.title}}</h1>
                <h2 class='weather'>{{ welcome.getWeather() }}</h2>
                <h3 class='special-event'></h3>
            </header>

            <section>
                <h2>About Us</h2>
                <p>Thanks for checking out our zoo online!</p>
                <p>Here's some stuff about us...</p>
            <section>

            <section ng-controller='AdminController as admin'>
                <h2>Tickets</h2>

                <table>
                    <thead>
                        <tr>
                            <th>Age</th>
                            <th>Cost</th>
                            <th>Length</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='ticket in admin.ticketTypes'>
                            <td>{{ticket.age}}</td>
                            <td>{{ticket.cost | currency}}</td>
                            <td>{{ticket.length}}</td>
                        </tr>
                    </tbody>
                </table>
            <section>

            <section ng-controller='AnimalController as animalz'>
                <h2>Our Animals</h2>
                <ul>
                    <li ng-repeat='animal in animalz.list'>
                        {{animal.name}} ({{animal.species}})
                    </li>
                </ul>
            </section>


        </main>

        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js'></script>
        <script src='js/zoo.module.js'></script>
        <script src='js/welcome.controller.js'></script>
        <script src='js/animal.controller.js'></script>
        <script src='js/weather.service.js'></script>
    </body>
</html>
